.AlbumImage {
  width: 100px;
  height: 100px;
}
.AlbumItemWrapper {
  width: 60%;
  height: 20%;
  background-color: rgba($color: #e4e4e4, $alpha: 0.4);
  border-radius: 25px;
  padding: 2%;
  margin-bottom: 2%;
  display: flex;
}
.AlbumTitile2 {
  margin-left: 3%;
}
